body {
    margin: 0;
}

.nav_outer {
    display: flex;
    justify-content: space-between;
    color: #888;
    background-color: #555;
    padding: 1rem;
}

.nav_inner {
    display: flex;
    /* padding: 0 1rem; */
}

.nav_inner p{
    padding: 0 .5rem;
}

a {
    text-decoration: none;
}

a,a:hover,a:visited{
    color: inherit;
}

.form_outer {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 3%;
    border-radius: 10px;
}

.form_header {
    background-color: #ddd;
    margin-top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.form_header p {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    color: #696969;
}

.form_outer label,
.form_outer input {
    display: block;
    padding: .5rem 0;
    width: 90%;
    margin: .5rem auto;
}

.form_outer input {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn,
.btn2 {
    width: 90%;
    margin: 2rem auto;
    text-align: right;
}

.btn button {
    background-color: #00bfff;
    color: white;
    border: 1px solid #00bfff;
    display: inline-block;
    width: 12%;
    height: 40px;
    border-radius: 5px;
}

.btn2 button {
    background-color: #00bfff;
    color: white;
    border: 1px solid #00bfff;
    display: inline-block;
    width: 30%;
    height: 40px;
    border-radius: 5px;
}

.reset_pass {
    margin: 2rem 0;
    text-align: center;
    color: #00bfff;
}